<form>
    <h3 align="left">Registro de Animales</h3>
    <h3 align="left">                    </h3>


    <div class="form-group">
        <!-- Tipo Button -->
        <label for="Tipo" class="control-label">Seleccione el Animal</label>
        <select class="form-control" id="Tipo">
            <option value="VA">Vaca</option>
            <option value="CH">Chivo</option>
        </select>
    </div>

    <div class="form-group">
        <!-- ID-->
        <label for="ID" class="control-label">ID</label>
        <input type="text" class="form-control" id="ID" name="ID" placeholder="1234">
    </div>
    <div class="form-group">
        <!-- Edad-->
        <label for="Edad" class="control-label">Edad</label>
        <input type="text" class="form-control" id="Edad" name="Edad" placeholder="Años de Vida">
    </div>

    <div class="form-group">
        <!-- Vacunacion-->
        <label for="F" class="control-label"> Ultima fecha de Vacunacion</label>
        <input type="date" class="form-control" id="Vacunacion" name="Vacunacion" placeholder="Años de Vida">
    </div>

    <div class="form-group">
        <!-- Propietario-->
        <label for="F" class="control-label">Nombre del Propietario</label>
        <input type="text" class="form-control" id="Propietario" name="Propietario" placeholder="Maluma el Granjero">
    </div>

    <div class="form-group">
        <!-- Numero de Crias-->
        <label for="F" class="control-label">Numero de Crias</label>
        <input type="text" class="form-control" id="Crias" name="Crias" placeholder="0">
    </div>



    <div class="form-group">
        <!-- Vacunacion-->
        <label for="F" class="control-label"> Fecha de difuncion (Opcional)</label>
        <input type="date" class="form-control" id="Muerte" name="Vacunacion" placeholder="Años de Vida">
    </div>
    
    <div class="form-group">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Registrar Animal</button>
    </div>

    </div>
